:root {
  --background-color: #1c1c1c;
  --container-background-color: #1f2937;
  --password-background-color: #273549;
  --gray: #d5d4d8;
  --white: #fff;
  --title-green: #4adf86;
  --button-green: #10b981;
  --password-green: #55f991;

  --font-family: "Inter", sans-serif;
  --second-family: "Karla", sans-serif;
}

h1 {
  margin: 0;
}

body {
  font-family: var(--font-family);
  color: var(--gray);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--container-background-color);
  width: 550px;
  height: 550px;
}

.wrap {
  margin-left: 52px;
  margin-right: 52px;
  margin-top: 70px;
}

.title {
  width: 354px;
  height: 80px;

  font-family: var(--second-family);
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: var(--white);
}

.title-green {
  color: var(--title-green);
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  margin-top: 10px;
}

#form {
  margin-top: 40px;
}
#button {
  /* display: block;
  margin: 0 auto; */
  margin-top: 40px;
  border-radius: 6px;
  padding: 9px 17px 9px 15px;
  width: 191px;
  height: 42px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: var(--button-green);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: var(--white);
}

.horizontal-line {
  margin-top: 35px;
  margin-bottom: 35px;
  border: 1px solid #2f3e53;
  width: 446px;
  height: 0px;
}

.passwords-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 230%;
  text-align: center;
  color: var(--password-green);
}

#password-one,
#password-two {
  border-radius: 6px;
  width: 446px;
  height: 39px;
  background: var(--password-background-color);
  padding-left: 20px;
  padding-right: 20px;
}

#form {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: flex-start;
}
#password-length {
  /* width: 50px; */
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
  height: 10px;
  background: var(--gray);
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#slider::-webkit-slider-thumb,
#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--gray);
  border-radius: 50%;
  cursor: pointer;
}

#slider-value {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 10px;
}
